@import "../../assets/styles/colors.scss";
.accuracy-container {
  ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
    li {
      list-style: none;
      text-align: center;
      span {
        display: flex;
        align-items: center;
        column-gap: 5px;
        div {
          width: 10px;
          height: 10px;
          background-color: $green-color;
          border-radius: 50%;
        }
        h3 {
          font-size: 16px;
          font-weight: 600;
          color: $dark-gray;
          line-height: 28px;
        }
      }
      p {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $medium-gray;
      }
    }
  }
}
